html {
    background-color:rgb(239, 240, 227);
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

image {
    text-align: center; 
}

caption{

}

caption{
    text-align: center;
    width: 100px;
    height: 100px;
}